USE [ALH_ALH]
GO
/****** Object:  StoredProcedure [dbo].[sp_valresmet]    Script Date: 10/5/2021 16:11:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[sp_valresmet] @numcta tipo_ope_cli,
                         @moncuo numeric(12,3),
                         @dest tinyint,
                         @fecha int
as
/*******************************************************************/
/*** Objetivo   :  Valoriza retiro para cuentas metodicas        ***/
/*** P. Entrada :  @numcta = Numero de Cuenta                    ***/
/***               @moncuo = Monto de retiro en cuotas           ***/
/***               @dest   = estado del retiro                   ***/
/***               @fecha  = Fecha de solicitud de retiro        ***/
/*******************************************************************/
     
declare @total numeric(12,3), @cuotas numeric(12,3),
        @monto int,@uf numeric(10,2), @cuofgac numeric( 12,3)


select @total = isnull(sum(sres_mto_rte_cuo),0) 
from sres
where @numcta = sres_num_cta and 
      sres_fec_rel_rte is null and 
	  sres_edo_sol<>3

if @total is null
   select @total = 0

if @dest = 0 
   begin
        select @cuotas = aavl_sal_cuo_cie 
        from aavl
        where @numcta = aavl_nro_ope

        if ( @total + @moncuo ) <= @cuotas
            select 20000
        else
            select 20002
   end
else
    begin

         declare cur cursor for
                 select sres_mto_rte_pes,pari_mon_par 
                 from sres, pari
                 where sres_num_cta = @numcta and
                       pari_fec_par = sres_fec_sol and
                       pari_cod_mda = 998
 
         open cur
         fetch cur into @monto,@uf
         select @total=0
         while  @@fetch_status = 0
           begin
                select @total=round(@monto/@uf,3)+@total
                fetch cur into @monto,@uf
           end
        close cur
        deallocate cur

        select @cuotas = round((fgac_mto_act - @total) * pari_mon_par,0)
        from fgac, pari
        where fgac_num_cta = @numcta and
          pari_fec_par = @fecha and
          pari_cod_mda = 998

    if @moncuo <= @cuotas
          select 20000
     else
          select 20002
end

return
